@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:black">
    <div class="jumbotron" style="color:whitesmoke; Background:black">
        <h1>XX Company</h1>
        <p class="lead">XX Company is a worldwide leading company in its field, aiming at making positive effect on people's life.</p>

    </div>

    <div class="row">
        <div class="col-md-5">
            <h2>Join Us!</h2>
            <p style="color: whitesmoke">
                We provide exellent chances!
            </p>

        </div>
        <div class="col-md-5">
            <h2>Contact Us!</h2>
            <p style="color: whitesmoke">
                We welcome you!
            </p>

        </div>

    </div>
</body>
