
@{
    ViewBag.Title = "CandidateApplySuccessfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apply Successfully</h2>
@Html.ActionLink("Comfirm", "Index", "Jobs", new { @class = "btn btn-primary"})

