
@{
    ViewBag.Title = "NoCandidateApplied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>No Candidate Applied this Job Before.</h2>
@Html.ActionLink("Back to Job List", "Index", "Jobs", new { @class = "btn btn-primary"})

